.project
.cproject
.settings
TAGS
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.h.in~
config.sub
config/m4/libtool.m4
config/m4/ltoptions.m4
config/m4/ltsugar.m4
config/m4/ltversion.m4
config/m4/lt~obsolete.m4
config/aux
configure
install-sh
ltmain.sh
missing
config.h
config.log
config.status
libtool
stamp-h1
native_headers.stamp
autom4te.cache
depcomp
.libs
*.la
.deps
.dirstamp
*.lo
*.o
build-*
src/tools/info/gucxt_info
*.tap
tags
.pydevproject
GPATH
GRTAGS
GTAGS
/modules
*.swp
compile_commands.json
.idea/
.externalToolBuilders
.classpath
.vscode
*.gcno
*.gcda
lcov_data/
.noinst/
src/gmem/*/.deps
src/gmem/*/*.pc
src/gmem/*.pc
src/gmem/*/.libs
src/gmem/*/.dirstamp
src/gmem/.libs
src/gmem/*/*.lo
src/gmem/*/*.o
src/tools/*/.deps
src/tools/*/*.o
src/tools/*/Makefile
config/Makefile